<%- include("../includes/begin.ejs") %>

<link rel="stylesheet" type="text/css" href="../css/auth.css" />
<link rel="stylesheet" type="text/css" href="../css/posts.css" />
<link rel="stylesheet" type="text/css" href="../css/base.css" />

<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
/>

<body>
	<%- include("../includes/navbar.ejs") %>
	<div class="login-dark">
		<form method="post" action="/reset/change">
			<% if (errorMsg) { %>
			<h2 class="message errorMsg center"><%= errorMsg %></h2>
			<% } %>
			<h2 class="sr-only">New Password Form</h2>
			<div class="illustration">
				<i class="icon ion-arrow-swap"></i>
			</div>
			<div class="form-group">
				<input
					class="form-control"
					type="password"
					name="password"
					value="<%= body?.password %>"
					placeholder="Password"
				/>
			</div>
			<div class="form-group">
				<input
					class="form-control"
					type="password"
					name="confirmPassword"
					value="<%= body?.confirmPassword %>"
					placeholder="Confirm password"
				/>
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-block" type="submit">
					Change password
				</button>
			</div>
			<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
			<input type="hidden" name="token" value="<%= token %>" />
			<input type="hidden" name="userId" value="<%= userId %>" />
		</form>
	</div>
</body>
<%- include("../includes/end.ejs") %>
